<div class="footer-options">
    <div class="container grid grid__auto">
        <div class=" collapsible">
            <header class="options__header">
                <h3>Shop & Learn</h3>
                <svg class="icon">
                    <use xlink:href="icons/sprite.svg#chevron"></use>
                </svg>
            </header>
            <div class="options__list collapsible__content">
                <ul class="list">

                    <li><a class="options__link" href="#">Music</a></li>
                    <li><a class="options__link" href="#">Movies</a></li>
                    <li><a class="options__link" href="#">Shows</a></li>
                    <li><a class="options__link" href="#">Apps</a></li>


                </ul>
            </div>
        </div>
        <div class=" collapsible">
            <header class="options__header">
                <h3>Orange Store</h3>
                <svg class="icon">
                    <use xlink:href="icons/sprite.svg#chevron"></use>
                </svg>
            </header>
            <div class="options__list collapsible__content">
                <ul class="list">

                    <li><a class="options__link" href="#">Find a Store</a></li>
                    <li><a class="options__link" href="#">Today at Orange</a></li>
                    <li><a class="options__link" href="#">Orange Camp</a></li>
                    <li><a class="options__link" href="#">Financing</a></li>


                </ul>
            </div>
        </div>
        <div class=" collapsible">
            <header class="options__header">
                <h3>Education & Business</h3>
                <svg class="icon">
                    <use xlink:href="icons/sprite.svg#chevron"></use>
                </svg>
            </header>
            <div class="options__list collapsible__content">
                <ul class="list">

                    <li><a class="options__link" href="#">Orange & Education</a></li>
                    <li><a class="options__link" href="#">Shop for College</a></li>
                    <li><a class="options__link" href="#">Shop for Business</a></li>
                    <li><a class="options__link" href="#">Jobs</a></li>


                </ul>
            </div>
        </div>
        <div class=" collapsible">
            <header class="options__header">
                <h3>About Orange</h3>
                <svg class="icon">
                    <use xlink:href="icons/sprite.svg#chevron"></use>
                </svg>
            </header>
            <div class="options__list collapsible__content">
                <ul class="list">

                    <li><a class="options__link" href="#">Newsroom</a></li>
                    <li><a class="options__link" href="#">Orange Leadership</a></li>
                    <li><a class="options__link" href="#">Investors</a></li>
                    <li><a class="options__link" href="#">Events</a></li>


                </ul>
            </div>
        </div>






        <div class="copyright">Copyright 2022 myTunes</div>
    </div>
</div>