<div class="gift-card">
    <div class="container grid grid__1x2">
        <img src="/images/istockphoto-1179439557-612x612.jpg" alt="" class="gift__image">
        <div class="block">
            <h3>Gifts Card</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae deleniti, possimus blanditiis,
                necessitatibus officia ducimus dolore eos accusantium modi hic debitis corporis laborum maiores
                quis, voluptatum corrupti ut facilis commodi.</p>

            <a href="#" class="btn btn--secondry">Redeem Now</a>
        </div>
    </div>
</div>