<div class="laptop">
    <div class="block container">
        <h3>The tv and movie collection that you always wished for.</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa nulla esse quis totam laudantium, iusto
            sint adipisci accusantium quas labore voluptatem beatae qui ullam placeat, reiciendis velit officia
            dolorem quisquam repellat magni. Accusamus perspiciatis consequatur esse cupiditate libero maiores, modi
            maxime iure tempore repudiandae quos saepe molestias quae. Itaque, libero?</p>

        <div><a href="#" class="btn btn--secondry">Read More</a></div>

        <img src="images/laptop.png" alt="" class="laptop__image">


    </div>

</div>