<div class="menu-bar">
    <header class="menu__container ">

        <div class="icon__logo__group">
            <svg class="icon logo__icon">
                <use xlink:href="icons/sprite.svg#noise"></use>
            </svg>
            <span> myTune</span>
        </div>

        <div class="icon__option__group collapsible">
            <svg class="icon menu__icon">
                <use xlink:href="icons/sprite.svg#menu"></use>
            </svg>
            <ul class="list collapsible__content">
                <li><a href="https://www.google.com/">Overview</a></li>
                <li><a href="https://www.google.com/">Music</a></li>
                <li><a href="https://www.google.com/">Video</a> </li>
            </ul>
        </div>

    </header>
</div>