<div class="music">
    <div class="container block">
        <h2>Music</h2>
        <h3>45 millions songs with zero ads.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio expedita ea, delectus autem quisquam
            laboriosam libero nemo quaerat! Dicta a rerum delectus fuga consequuntur necessitatibus doloribus enim
            suscipit illo. Consectetur praesentium laborum suscipit asperiores eveniet ipsa numquam fuga
            voluptatibus vitae ea. Expedita, doloremque est! Quod, harum sequi. Ab, nostrum qui?</p>

        <a href="" class="btn btn--primary">hey</a>
    </div>
    <img src="/images/tablet.png" alt="" class="music__image">
</div>